*{
    text-align: center;
    margin: 0;
    padding: 0;
}
.startHead{
    background-color: bisque;
    padding: 1rem;
}

.pics{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding: 1.5rem;
    object-fit:cover;
    margin-top: 0;
    
    
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 3rem;
    margin-top: 2rem;
}

.choice{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    
    
}
.choice:hover{
  
    background-color: rgb(251, 200, 138);
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 3rem;
    gap: 2rem;
}

.score{
    margin: 1% 5% ;
    font-size: 32px;
    padding: 2.5% 0;
}

.msgContainer{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#msg{
   
    background-color: blanchedalmond;
    color: black;
    height: 5vb;
    width: 60vb;
    line-height: 5vb;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 1rem;
}
